.container {
    position: absolute;
    inset: 0;
    margin: 2ch;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 0.5em;
    background-color: white;
}

.container > svg {
    position: absolute;
}

svg path {
    transition: d 200ms;
}

.info {
    position: fixed;
    top: 4ch;
    left: 4ch;
    user-select: none;
    pointer-events: none;
}

.ctrl {
    position: absolute;
    max-width: 300px;
    right: 2ch;
    top: 2ch;
    font-family: Consolas, monospace;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    background-color: #ddd;
    border: 1px solid #777;
    padding: 1ch 2ch;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
}

.ctrl label {
    min-width: 100px;
}

.line-wrap {
    flex-basis: 100%;
}
